rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Customer rules
    match /users/{userId} {
      allow read, update: if request.auth.uid == userId;
    }
    match /orders/{orderId} {
      allow create: if request.auth != null;
      allow read: if resource.data.userId == request.auth.uid;
    }

    // Admin rules
    match /{document=**} {
      allow read, write: if request.auth.token.role == 'admin';
    }
  }
}
